 .Thecar-theme-menu-header-navber-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    background: transparent;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar {
    background: #e7e7e7;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .call-to-action p {
    margin: 0 0 0 20px;
    display: inline-block;
    color: #0721a5;
    font-size: 18px;
    font-weight: 500;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .call-to-action p i {
    margin-right: 3px;
    font-size: 16px;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .call-to-action p a {
    color: #ffffff;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .call-to-action p a:hover,
  .Thecar-theme-menu-header-navber-area .nav-top-bar .call-to-action p a:focus {
    color: #ffc107;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .top-social {
    float: right;
    padding: 0;
    margin: 0 0 0 10px;
    list-style-type: none;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .top-social li {
    display: inline-block;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .top-social li a {
    color: #ffffff;
    font-size: 15px;
    margin-left: 5px;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .top-social li a:hover,
  .Thecar-theme-menu-header-navber-area .nav-top-bar .top-social li a:focus {
    color: #0721a5;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .opening-hours {
    float: right;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .opening-hours p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar .opening-hours p i {
    margin-right: 3px;
    font-size: 16px;
  }
  
  .Thecar-theme-menu-header-navber-area .nav-top-bar.template-color-bg {
    background: #0721a5;
    border-bottom: none;
  }
  
  .Thecar-theme-menu-header-navber-area
    .nav-top-bar.template-color-bg
    .call-to-action
    p
    a {
    color: #ffffff;
  }
  
  .Thecar-theme-menu-header-navber-area
    .nav-top-bar.template-color-bg
    .top-social
    li
    a {
    color: #ffffff;
  }
  
  .navbar-b {
    transition: all 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 99px;
    background: #fff;
  }
  
  .navbar-b.navbar-reduce {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  }
  
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 0px;
    padding-left: 10px;
  }
  

  
  .navbar-b.navbar-trans .nav-link,
  .navbar-b.navbar-reduce .nav-link {
    color: #6e6e6e;
    text-transform: capitalize;
    font-weight: 400;
    /* font-size: 20px; */
    letter-spacing: 0.5px;
    padding-right: 0;
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
    border-radius: 50px;
  }
  
  .navbar-b.navbar-trans .nav-link:hover,
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #1b1b1b;
  }
  
  .navbar-b.navbar-trans .nav-link:hover {
    color: #000;
  }
  
  .navbar-b.navbar-trans .show > .nav-link,
  .navbar-b.navbar-trans .active > .nav-link,
  .navbar-b.navbar-trans .nav-link.show,
  .navbar-b.navbar-trans .nav-link.active {
    color: #0721a5;
  }
  
  .navbar-b.navbar-reduce {
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-animation: 500ms ease-in-out 0s normal fadeInDown;
    animation: 500ms ease-in-out 0s normal fadeInDown;
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  
  .navbar-b.navbar-reduce .nav-link {
    color: #505050;
  }
  
  .navbar-b.navbar-reduce .book-now {
    color: #fff !important;
  }
  
  .navbar-b.navbar-reduce .book-now .nav-link {
    color: #fff !important;
  }
  
  .navbar-b.navbar-reduce .nav-link:hover {
    color: #505050;
  }
  
  .navbar-b.navbar-reduce .show > .nav-link,
  .navbar-b.navbar-reduce .active > .nav-link,
  .navbar-b.navbar-reduce .nav-link.show,
  .navbar-b.navbar-reduce .nav-link.active {
    color: #505050;
  }
  
  .navbar-b.navbar-reduce .navbar-brand {
    color: #e1ec03;
  }
  
  .navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #1b1b1b;
  }
  
  .navbar-b .navbar-brand {
    color: #0721a5;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .navbar-b .navbar-brand:before {
    /* content: ''; */
    position: relative;
    background: #ffffff;
    height: 200px;
    z-index: 997;
    width: 200px;
    top: -7px;
    left: 0;
    display: block;
    overflow: visible;
    -webkit-box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
    box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
  }
  
  .navbar-b .navbar-brand img {
    width: 200px;
    /* top: 87px; */
    /* position: absolute; */
    /* z-index: 10000; */
    /* left: 0; */
    /* right: 0; */
    /* padding: 15px; */
  }
  
  .navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
  .navbar-b .dropdown.show .dropdown-menu,
  .navbar-b .dropdown-btn.show .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }
  
  .navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
  }
  
  .navbar-b .dropdown-menu .dropdown-item {
    padding: 0.7rem 1.7rem;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #0721a5;
    color: #fff;
    transition: all 500ms ease;
  }
  
  .navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #0721a5;
  }
  
  .navbar-toggler {
    position: absolute;
    right: 13px;
    top: 28px;
    z-index: 10001;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .navbar-toggler span {
    display: block;
    background-color: #000;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }
  
  .navbar-toggler span:nth-child(1),
  .navbar-toggler span:nth-child(3) {
    transition: -webkit-transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }
  
  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
  }
  
  .navbar-b .black-logo {
    display: none;
  }
  
  .navbar-b.navbar-reduce .navbar-brand .white-logo {
    display: none;
  }
  
  .navbar-b.navbar-reduce .navbar-brand .black-logo {
    display: block;
  }
  .book-now {
    padding-left: 24px !important;
  }
  
  .book-now a {
    background: #0721a5;
    border-radius: 2px;
    padding-right: 15px !important;
    color: #fff !important;
  }
  
  .book-now a:hover {
    background: #0721a5;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  /**************************************
   * Home Section Style
   *************************************/
  
  .home-area {
    position: relative;
    z-index: 1;
    text-align: center;
    background: url(../images/slider-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 40px;
  }
  
  .home-area::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
    background: #000 !important;
  }
  
  .hero-equal-height {
    position: relative;
    min-height: 100vh;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .home-area .home-content {
    margin-bottom: 50px;
  }
  
  .home-area .home-content h1 {
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
  }
  
  .home-area .home-content p {
    font-size: 15px;
    color: #ffffff;
  }
  
  .button.home-btn-1 {
    background: #0721a5;
    margin-right: 15px;
    border: 2px solid #ffffff;
    color: #fff;
  }
  
  .home-app-button-box .img-app-btn-1 {
    margin-right: 15px;
  }